<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Authentication (Google OAuth)</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;
            align-items: center;
            overflow: hidden;
        }

        a {
            text-decoration: none;
            color: black;
            font-weight: 600;
            font-size: 18px;
            margin-left: 14px;
        }

        a:hover {
            text-decoration: underline;
        }

        button {
            padding: 14px 20px;
            cursor: pointer;
        }

        button a {
            font-size: 14px;
        }

        h1 {
            text-align: center;
        }
    </style>
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/profile">Profile</a>
    </nav>
</body>

</html>